.article
  %h3= article.title
  .article-meta
    .meta-date
      %i.icon-calendar
      = '更新于'
      = article.date.strftime('%F')
    %ul.tags
      - article.tags.each do |tag|
        %li= link_to tag ,tag_path(tag), :class => 'tiny button secondary round'
    .clear
  = article.body
  %ul.read_next
    %li
      = article.previous_article ? link_to("<i class='icon-caret-left'></i> #{article.previous_article.title}", article.previous_article) : "&nbsp;"
    %li
      = article.next_article ? link_to("#{article.next_article.title} <i class='icon-caret-right'></i>", article.next_article) : "&nbsp;"
  .ds-thread
  :javascript
    var duoshuoQuery = {short_name:"dotide"};
    (function() {
      var ds = document.createElement('script');
      ds.type = 'text/javascript';ds.async = true;
      ds.src = 'http://static.duoshuo.com/embed.js';
      ds.charset = 'UTF-8';
      (document.getElementsByTagName('head')[0]
       || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
